
[
    {lager, [
        {log_root, "../"},
        {handlers, [
            {lager_console_backend, [
                {level, info},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time, " [",severity,"] ", module, ":", line, " ", message, "\n"]}
            ]},
            {lager_file_backend,[{file, "../log/warning.log"},{level, warning}]},
            {lager_file_backend,[{file, "../log/error.log"}, {level, error}]},
            {lager_file_backend,[{file, "../log/info.log"}, {level, info}]}
        ]
        }
    ]
    },

    {fs, [
        {backwards_compatible, true},
        {path, "/mnt/d/work/zone/moli_local_1/log/1"}
    ]},

    {
        test,
        [
            {port, 10000},
            {tcp_options, [
                binary
                ,{packet, 0}
                ,{active, false}
                ,{reuseaddr, true}
                ,{nodelay, false}
                ,{delay_send, true}
                ,{exit_on_close, false}
                ,{send_timeout, 10000}
                ,{send_timeout_close, false}
            ]
            },
            {db_host, "127.0.0.1"},
            {db_port, 3306},
            {db_user, "root"},
            {db_pass, "123456"}
        ]
    }
].